<div class="content-sidebar">

    {{#is "home"}}
    {{else}}
        <div class="widget sidebar-featured">
            <h4 class="sidebar-featured-header">Pete</h4>
            <p>{{@blog.description}} <a href="{{@blog.url}}/about" class="article_link-more fa fa-long-arrow-right"></a></p>
        </div>
        <hr/>
    {{/is}}
    <div class="widget sidebar-featured">
        <h4 class="sidebar-featured-header">Upcoming Events</h4>
        <p>Here's some of the upcoming public events in Atlanta:</p>
        <ul id="communitySideBar">
        </ul>
    </div>

        <hr/>
        <div class="widget sidebar-featured">    
        {{#is "home, tag, page"}}
            <h4 class="sidebar-featured-header">All Tags:</h4>
            {{#get "tags" limit="all"}}
                    {{tags separator=" | "}}        
            {{/get}}
        {{else}}
            <h4 class="sidebar-featured-header">Tagged With:</h4>
            {{tags separator=" | "}}           
        {{/is}}
        </div>
    
    <hr/>
    <div class="widget sidebar-featured">
        <h4 class="sidebar-featured-header">Must Read</h4>
        {{#get "posts" limit="3" filter="featured:true"}}
            <ul>
                {{#foreach posts}}
                    <li><a href="{{url}}">{{title}}</a></li>
                {{/foreach}}
            </ul>
            {{else}}
                {{#if @error}}{{@error}}{{/if}}
        {{/get}}
    </div>
    <hr/>
   <div class="widget sidebar-featured">
        <h4 class="sidebar-featured-header">Most Recent</h4>
        {{#get "posts" limit="3"}}
            <ul>
            {{#foreach posts}}
                <li><a href="{{url}}">{{title}}</a></li>
            {{/foreach}}
            </ul>
        {{else}}
            {{#if @error}}{{@error}}{{/if}}
        {{/get}}
    </div>
    <!--  Need to figure out how to style background color and links to match -->
    <!--
    <hr/>
      <div class="widget sidebar-featured">
        <h4 class="sidebar-featured-header">Tweets</h4> 
        <a class="twitter-timeline" data-width="350" data-height="500" data-theme="light" href="https://twitter.com/pskelly">Tweets by pskelly</a>
        <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>    
      </div>
      -->
    <hr/>
      <div class="widget sidebar-featured">
        <h4 class="sidebar-featured-header">Podcasts</h4>
        <ol>
            <li><a href="https://www.dotnetrocks.com/">.NET Rocks!</a></li>
            <li><a href="https://devchat.tv/adv-in-angular" target="_blank">Adventures in Angular Podcast</a></li>
            <li><a href="https://blogs.office.com/type/podcast/" target="_blank">Office 365 Developer Podcast</a></li>
            <li><a href="http://www.microsoftcloudshow.com/">Microsoft Cloud Show</a></li>
        </ol>
    </div>
    <hr/>
</div>
